[Unit]
Description=Syncronize AppImage applications in Apps with XDG desktop applications.

[Service]
Type=oneshot
ExecStart=%h/.config/utils/appimage-desktop
